<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Add Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<button class="btn btn-danger float-end m-4" (click)="logOut()">Logout</button>

<h1 class="text-center mat-display-2 mt-5 m-3">Students List</h1>
<div class="container">
  <div class="row m-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Divison</th>
          <th>Subject</th>
          <th>Gender</th>
        </tr>
        
      </thead>
      <tbody>
        <tr *ngFor="let item of studentsList">
          <td>{{item.name}}</td>
          <td>{{item.class}}</td>
          <td>{{item.division}}</td>
          <td>{{item.subject}}</td>
          <td>{{item.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>