<div class="container">
  <h1 class="text-center mat-display-2 mt-4">Admin Login</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="example-form mt-1" [formGroup]="loginForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Your Name</mat-label >
          <input matInput placeholder="Ex. John" formControlName="username">
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Your Password</mat-label>
          <input matInput placeholder="Ex. Abc123#" type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="float-end me-2 mt-2" style="width: 150px;" (click)="loginAdmin()" [disabled]="loginForm.invalid">Login</button>

      </form>
      <!-- {{loginForm.value|json}} -->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>